* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: "Arial", sans-serif; 
    color: #4e5050;
}

.wrapper {
    max-width: 902px;
    padding: 117px 61px 80px 55px;
    margin: 0 auto;
    font-size: 0;
    background-color: #ffffff;
}

.main, .aside {
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
}

.main {
    max-width: 641px;
}

.aside {
    max-width: 261px;
    vertical-align: top;
}

h2 {
    font-size: 32px;
    height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Pathway Gothic One", sans-serif;
}

h2, .shortcut, a {
    color: #263555;
}

.container-1 h2, .container-3 h2 {
    margin-bottom: 48px;
}

.container-1, .container-3 {
    border-bottom: 1px solid #dedbdb;
}

.container-1 {
    padding-bottom: 50px;
    margin-bottom: 55px;
}

.container-3 {
    padding-bottom: 41px;
    margin-bottom: 55px;
}

img {
    float: left;
    margin-right: 23px;
}

.shortcut, a {
    font-size: 15px;
    line-height: 19px;
}

.container-1 .shortcut {
    margin-bottom: 8px;
}

.container-1 .information {
    margin-bottom: 8px;
}

.container-3 {
    padding-left: 51px;
}

ol {
    counter-reset: list 0;
}

ol li {
    list-style: none;
}

ol a {
    text-decoration: none;
}

a:hover {
    color: #38afe5;
}

ol div {
    display: inline-block;
    max-width: 169px;
}

ol li::before {
    counter-increment: list;
    content: counter(list) "";
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 9px;
    color: #ffffff;
    text-align: center;
    width: 26px;
    height: 28px;
    line-height: 28px;
    background-color: #38afe5;
    border: 1px solid #4994b5;
    border-radius: 14px;
}

ol .shortcut {
    margin-bottom: 10px;
}

ol li {
    margin-bottom: 26px;
}

ol li:last-of-type {
    margin-bottom: 0;
}

.container-2 h2 {
    margin-bottom: 63px;
}

.container-2 .shortcut {
    margin-bottom: 23px;
}

.container-2 .information {
    margin-bottom: 30px;
}

ul {
    display: inline-block;
    vertical-align: top;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
}

ul li:last-of-type {
    margin-bottom: 0;
}

ul a {
    
    line-height: 22.8px;
    text-decoration: none;
}

ul li::before {
    content: "\2192";
    width: 15px;
    height: 10px;
    line-height: 10px;
    display: inline-block;
    margin-right: 7px;
    color: #38afe5;
}

.left-list {
    padding-left: 24px;
    margin-right: 67px;
}

.container-4 {
    padding-left: 51px;
}

.container-4 h2 {
    margin-bottom: 23px;
}

.quote .shortcut {
    font-size: 15px;
    line-height: 19px;
    text-indent: 10px;
    padding: 22px 20px 25px 22px;
    position: relative;
    margin-bottom: 50px;
    background-color: #fcfafa;
    border: 1px solid #dfdcdc;
}

.quote .shortcut::before, .quote .shortcut::after {
    content: "";
    width: 0; 
    height: 0; 
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 95px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 20px solid #dfdcdc;
}

.quote .shortcut::after {
    top: 199px;
    left: 96px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 19px solid #fcfafa;
}

span::before {
    content: "\201c";
}

span::after {
    content: "\201d";
}

.quote .text {
    font-size: 16px;
    line-height: 22.8px;
    text-align: center;
    color: #263555;
    margin-bottom: 15px;
}

.quote .information {
    text-align: center;
}