* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/background.jpg");
    background-size: cover;
    padding: 60px;
}

.wrapper {
    max-width: 902px;
    padding: 117px 61px 80px 61px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    color: #4e5050;
    background-color: #ffffff;
}

.container-top {
    margin-bottom: 58px;
    border-bottom: 1px solid #dedbdb;
    font-size: 0px;
}

p {
    font-size: 13px;
    line-height: 19px;
}

.container-1, .container-2,
.container-3, .container-4 {
    display: inline-block;
}

h2 {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 32px;
    color: #263555;
    text-transform: uppercase;
    height: 24px;
}

.container-1 {
    max-width: 641px;
    margin-right: 51px;
}

.container-1 h2, .container-2 h2 {
    margin-bottom: 48px;
}

img {
    float: left;
    margin-right: 24px;
}

.shortcut {
    font-size: 15px;
    line-height: 19px;
    color: #263555;
}

.container-1 .shortcut {
    margin-bottom: 10px;
}

.container-1 .information {
    margin-bottom: 8px;
}

.container-2 {
    max-width: 178px;
    vertical-align: top;
    margin-right: 32px;
}

ol li {
    position: relative;
    margin-bottom: 26px;
    list-style: none;
}

ol {
    counter-reset: list 0;
}

ol li:last-of-type {
    margin-bottom: 42px;
}

ol li::before {
    counter-increment: list;
    content:counter(list) "";
    color: #ffffff;
    width: 24px;
    height: 21px;
    padding-top: 5px;
    font-size: 13px;
    line-height: 16.63px;
    text-align: center;
    position: absolute;
    border-radius: 13px 14px;
    left: -37px;
    top: 5px;
    background-color: #38afe5;
    border: 1px solid #639db8;
}

.container-2 .shortcut {
    margin-bottom: 9px;
}

.container-bottom {
    font-size: 0px;
}

.container-3 {
    max-width: 641px;
    margin-right: 51px;
}

.container-3 h2 {
    margin-bottom: 66px;
}

.container-4 {
    max-width: 210px;
    vertical-align: top;
}

.container-3 .shortcut {
    margin-bottom: 20px;
}

.container-3 .information {
    margin-bottom: 27px;
}

ul {
    display: inline-block;
    vertical-align: top;
}

ul li {
    list-style: none;
    font-size: 15px;
    line-height: 22.8px;
    color: #263555;
    position: relative;
    margin-bottom: 20px;
}

ul li:last-of-type {
    margin-bottom: 0;
}

.left-list {
    padding-left: 24px;
    margin-right: 67px;
}

ul li::before {
    content: "";
    width: 10px;
    height: 7px;
    position: absolute;
    left: -24px;
    top: 8px;
    background: url("../img/arrow.png");
}

.container-4 h2 {
    margin-bottom: 23px;
}

blockquote .shortcut {
    font-size: 15px;
    line-height: 19px;
    text-indent: 10px;
    padding: 22px 20px 49px 22px;
    background-color: #fcfafa;
    border: 1px solid #dedbdb;
    border-radius: 3px;
}

blockquote .shortcut::before {
    content: "\201c";
}

blockquote .shortcut::after {
    content: "\201d";
}