:root {
    --bord-rad: 50%;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --list-style: none;
    --transition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 44px;
    padding-bottom: 30px;
    color: #4e5050;
    background: url("../../assets/img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}

article {
    display: flex;
    flex-wrap: wrap;
    max-width: 902px;
    padding: 58px 61px 129px 61px;
    background-color: var(--color-2);
}

.left {
    display: flex;
    flex-wrap: wrap;
    max-width: 655px;
    margin-right: 36px;

}

h2 {
    width: 100%;
    margin-bottom: 41px;
    font-family: var(--font-2);
    font-size: 32px;
    font-weight: normal;
    color: var(--color-1);
    text-transform: uppercase;
}

.map {
    max-width: 441px;
    margin-right: 19px;
}

.table {
    max-width: 195px;
    font-family: var(--font-4);
}

table:first-of-type {
    margin-bottom: 40px;
}

caption {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}

tr {
    font-size: 13px;
    line-height: 19px;
}

caption, tr, a {
    color: #666565;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-1);
}

span {
    color: #fa7e7e;
}

.right {
    max-width: 211px;
}

.form-fields {
    min-height: 28px;
    margin-bottom: 17px;
    font-size: 0;
    background-color: #fcfafa;
    border: 1px solid #d4d0d0;
}

label {
    display: inline-block;
    width: 45px;
    padding-left: 11px;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 28px;
    text-transform: uppercase;
  }

.form-fields:nth-of-type(3) label {
    width: 65px;
}

input {
    width: 145px;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 22px;
    background-color:#fcfafa;
    border:none;
}

input[type="text"] {
    box-shadow: none;
  }
  
.form-fields:nth-of-type(3) input {
    width: 125px;
}

input[type="text"]:invalid {
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    color: #ff0000;
    text-align: right;
}

.form-fields:nth-of-type(4) label {
    width: 200px;
    padding-top: 10px;
}

textarea {
    width: 207px;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    background-color: #fcfafa;
    border: none;
  }
  
.buttons {
    display: flex;
    justify-content: flex-end;
}
  
input[type="reset"],
input[type="submit"]{
    display: inline-block;
    width: 78px;
    height: 24px;
    margin-top: 5px;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid #b1aaaa;
    border-radius: 5px;
}
  
input[type="submit"] {
    margin-left: 20px;
}