*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 44px;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    max-width: 1024px;
    margin: auto;
    /* background: lightgray; */
}

.logo {
    text-transform: uppercase;
    font-size: 60px;
    font-family: "Dorsa", sans-serif;
    line-height: 140px;
    text-align: center;
    width: 140px;
    height: 140px;
    background-color: #ffffff;;
    border-radius: 70px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
}

nav {
    padding-top: 50px;
    margin-bottom: 120px;
}

.menu {
    padding-left: 101px;
    margin-bottom: 49px;
}

 .menu .item {
    display: inline-block;
    margin-right: 59px;
    vertical-align: middle;
    line-height: 40px;
}

.item:last-of-type {
    margin-right: 0;
}

.item:nth-of-type(3) {
    margin-right: 220px;
}

li {
    list-style: none;
}

.link, .sub-link {
    font-family: "Pathway Gothic One", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.link {
    font-size: 28px;
    color: #ffffff;
}

.link:hover {
    color: #263555;
}

.sub-link {
    font-size: 20px;
    color: #6b7488;
}

.sub-link:hover {
    color: #38afe5;
}

.sub-menu {
    line-height: 20px;
}

.sub-menu .sub-item {
    text-align: center;
}

.menu .item:nth-of-type(2) {
    position: relative;
}

.sub:hover>.sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background: url("../img/menu.png") no-repeat;
    background-size: cover;
    top: 40px;
    left: -15px;
    width: 66px;
    height: 88px;
    padding: 14px 9px 9px 9px;
}

.sub-item {
    margin-bottom: 9px;
}

main {
    max-width: 902px;
    padding: 58px 61px 136px 61px;
    background-color: #ffffff;
}

.top {
    width: 902px;
    height: 579px;
    background: url("../img/slide-1.jpg") no-repeat;
    margin-bottom: 57px;
}

.bottom {
    font-size: 0;
}

h2 {
    font-family: "Pathway Gothic one", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 69px;
}

h3 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
}

.destination {
    width: 288px;
    height: 270px;
    background-color: lightgray;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 19px;
}

.information {
    font-family: "Arial MT", sans-serif;
    font-size: 9px;
    line-height: 15.21px;
    color: #cbc6c6;
}

.destination:nth-of-type(1) {
    background: url("../img/venice.jpg") no-repeat;
}

.destination:nth-of-type(2) {
    background: url("../img/new-york.jpg") no-repeat;
}

.destination:nth-of-type(3) {
    background: url("../img/paris.jpg") no-repeat;
    margin-right: 0;
}

.destination:hover>figcaption {
    display: block;
}

figcaption {
    width: 129px;
    height: 231px;
    padding: 21px 9px 18px 9px;
    position: relative;
    text-align: justify;
    background-color: #193149;
    display: none;
}

.btn {
    font-size: 12px;
    font-weight: bold;
    font-family: "Arial MT", sans-serif;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    width: 65px;
    height: 24px;
    background-color: #ffffff;
    line-height: 24px;
    text-align: center;
    border: 1px solid rgba(159, 150, 150, 0.81);
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 18px;
}

.btn:hover {
    color: #ffffff;
    background-color: #38afe5;
}