.copyright-menu {
    display: flex;
    list-style: $l-s;

    &__item {
        padding-right: 2px;
        padding-left: 2px;
        list-style: $l-s;
        font-family: $f4;
        @include text (9px, 18px);
        color: $c2;
        border-left: 1px solid $c2;

        &--first {
            border-left: none;
        }
    }
    &__link {
        font-family: $f4;
        @include text (9px, 18px);
        color: $c2;
        text-decoration: none;

        &:hover {
            color: $c1;
            transition: $tr;
        }
    }
}