.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 3.3rem 2.3128rem 2.5rem;
    background-color: $c2;

    &__title {
        width: 100%;
        margin-bottom: 2rem;
        font-family: $f2;
        font-size: 28px;
        font-weight: normal;
        color: $c1;
        text-transform: uppercase;
    }
    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 2.2rem;

        &--medium,
        &--large {
            display: none;
        }
    }
    &__link {
        display: block;

        &:hover .gallery__pic {
            filter: brightness(0.5);
            transition: $tr;
        }

        &:hover>.gallery__zoom {
            opacity: 1;
            transition: $tr;
        }
    }
    &__zoom {
        position: absolute;
        @include dimensions (20%, 30%);
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        background: url("../img/zoom-in.svg") no-repeat;
    }
    &__photo {
        @include dimensions (100%, auto);
    }
}