.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6.2rem;

    &__logo {
        top: -50px;
        @include logo-param ($d-l-1024, $d-l-1024, $ml-1024, $fs-l-1024, $d-l-1024);
    }
    &-menu {
        width: 45%;

        &__link {
            @include text (28px, 40px);
        }
    }
}

.sub-menu {
    top: 40px;
    left: -8px;

    &::before {
        top: -6px;
        left: 30px;
        border-right: 4px solid transparent;
        border-bottom: 6px solid #f2f2f3;
        border-left: 4px solid transparent;
    }
    &__link {
        @include text (20px, 30px);
    }
}