:root {
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --bord-rad: 50%;
    --diam-logo: 77px;
    --font-size-logo: 33px;
    --transition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 320px;
    max-width: 1024px;
    padding-top: 125px;
    padding-bottom: 30px;
    margin: auto;
}

.nav {
    position: relative;
    margin-bottom: 3.5rem;
}

.nav__logo {
    position: absolute;
    top: -102px;
    left: 50%;
    width: var(--diam-logo);
    height: var(--diam-logo);
    margin-left: calc((var(--diam-logo) / 2) - var(--diam-logo));
    font-family: var(--font-1);
    font-size: var(--font-size-logo);
    line-height: var(--diam-logo);
    color: var(--color-1);
    text-align: center;
    text-transform: uppercase;    
    background-color: var(--color-2);
    border-radius: var(--bord-rad);
}

.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 6.25rem;
    padding-left: 7.5rem;
}

.nav-menu__item--center {
    margin-right: 15%;
    margin-left: 15%;
}

.nav-menu__item,
.sub-menu__item {
    list-style: none;
}

.sub-menu__item {
    text-align: center;
}

.nav-menu__link,
.sub-menu__link {
    font-family: var(--font-2);
    text-decoration: none;
    text-transform: uppercase;
}

.nav-menu__link {
    font-size: 20px;
    line-height: 30px;
    color: var(--color-2);
}

.nav-menu__link:hover {
    color: var(--color-1);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.sub-menu__link {
    font-size: 14px;
    line-height: 22px;
    color: #6b7488;
}

.sub-menu__link:hover {
    color: var(--color-3);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.nav-menu__item--center {
    position: relative;
}

.sub:hover>.sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    top: 30px;
    left: -5px;
    z-index: 1;
    display: none;
    padding: 0.5rem;
    background-color: #f2f2f3;
    border-radius: 3px;
}

.sub-menu:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 21px;
    display: inline-block;
    width: 0; 
    height: 0; 
    border-right: 3px solid transparent;
    border-bottom: 4px solid #f2f2f3;
    border-left: 2px solid transparent;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    padding: 3.3rem 2.3128rem 2.5rem;
    background-color: var(--color-2);
}

.gallery__title  {
    width: 100%;
    margin-bottom: 2rem;
    font-family: var(--font-2);
    font-size: 28px;
    font-weight: normal;
    color: var(--color-1);
    text-transform: uppercase;
}

.gallery__image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    margin-bottom: 2.2rem;
}

.gallery__link {
    display: block;
}

.gallery__link:hover .gallery__pic {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gallery__zoom {
    position: absolute;
    width: 20%;
    height: 30%;
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/zoom-in.svg") no-repeat;
}

.gallery__link:hover > .gallery__zoom {
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gallery__photo {
    width: 100%;
    height: auto;
}

.gallery__image--medium,
.gallery__image--large {
    display: none;
}

.useful-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 6.7rem 1rem;
    margin-bottom: 1.9rem;
    background-color: #30455b;
}

.useful-links-menu {
    margin-bottom: 0.625rem;
}

.useful-links-menu--last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;        
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.useful-links-menu__item {
    position: relative;
    margin-bottom: 0.45rem;
    list-style: none;
}

.useful-links-menu__item, 
.useful-links-menu__link {
    font-family: var(--font-3); 
    color: var(--color-2);
    text-transform: uppercase;
}

.material-icons {
    position: absolute;
    left: -27px;
    top: -3px;
}

.useful-links-menu__link {
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}

.useful-links-menu__link:hover {
    color: var(--color-3);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.useful-links-menu__item--first {
    font-size: 14px;
}

.useful-links-menu__item--second,
.useful-links-menu__item--third {
    margin-bottom: 0;
    margin-left: 1rem;
    font-family: var(--font-4);
    font-size: 10px;
    line-height: 19px;
}

.useful-links-menu__item--third {
    text-transform: none;
}

.useful-links-menu__hidden {
    display: none;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-menu__item {
    list-style: none;
    margin-right: 0.5rem;
}

.social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0.6rem;
}

.social-menu__link {
    display: block;
    width: 26px;
    height: 26px;
}

.social-menu__link--circle {
    fill: #ffffff;
}

.social-menu__link--letter {
    fill: #e4b265;
}

.social-menu__link:hover .social-menu__link--circle {
    fill: #C97064;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.social-menu__link:hover .social-menu__link--letter {
    fill: #ffffff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.copyright-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: var(--list-style)
}

.copyright-menu__item,
.copyright-menu__link {
    font-family: var(--font-4);
    font-size: 9px;
    line-height: 18px;
    color: var(--color-2);
}

.copyright-menu__link {
    text-decoration: none;
}

.copyright-menu__link:hover {
    color: var(--color-1);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.copyright-menu__item {
    padding-right: 2px;
    padding-left: 2px;
    list-style: none;
    border-left: 1px solid var(--color-2);
}

.copyright-menu__item--first {
    border-left: none;
}

@media screen and (min-width: 768px) {
    :root {
        --diam-logo: 101px;
        --font-size-logo: 44px;
    }

    .wrapper {
        padding-top: 8.5rem;
        margin-bottom: 15px;
    }

    .nav {
        margin-bottom: 1.4rem;
    }

    .nav__logo {
        top: -115px;
    }

    .nav-menu__link {
        font-size: 24px;
        line-height: 36px;
    }

    .sub-menu {
        top: 35px;
        left: -8px;
    }

    .sub-menu:before {
        top: -4px;
        left: 28px;
    }

    .sub-menu__link {
        font-size: 17px;
        line-height: 26px;
    }

    .gallery {
        padding: 5rem 2.875rem 3rem;
    }

    .gallery__title {
        margin-bottom: 2.4rem;
    }

    .gallery__image--medium {
        display: block;
    }

    .gallery__image--small,
    .gallery__image--medium {
        width: 48.96%;
    }

    .useful-links{
        padding: 2.1rem 5rem 1.3rem 3rem;
        margin-bottom: 1.3rem;
    }

    .useful-links-menu__link {
        font-size: 16px;
        line-height: 22px;
    }

    .useful-links-menu--last {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        display: block;
    }

    .useful-links-menu__item--first {
        font-size: 18px;
        line-height: 24px;
    }

    .material-icons {
        display: none;
    }

    .useful-links-menu__hidden {
        display: inline;
    }

    .useful-links-menu__item--second,
    .useful-links-menu__item--third {
        margin-left: 0;
        font-size: 12px;
    }

    .social--menu {
        margin-bottom: 1.3rem;
    }

    .social-menu__item {
        margin-right: 0.625rem;
    }

    .social-menu__link {
        width: 40px;
        height: 40px;
    }

    .copyright-menu__item,
    .copyright-menu__link {
        font-size: 12px;
    }

    .copyright-menu__item {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --diam-logo: 140px;
        --font-size-logo: 60px;
    }

    .wrapper {
        padding-top: 95px;
    }

    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-bottom: 6.2rem;
    }

    .nav__logo {
        top: -50px;
    }

    .nav-menu {
        width: 45%;
    }

    .nav-menu__link {
        font-size: 28px;
        line-height: 40px;
    }

    .sub-menu {
        top: 40px;
        left: -8px;
    }

    .sub-menu:before {
        top: -6px;
        left: 30px;
        border-right: 4px solid transparent;
        border-bottom: 6px solid #f2f2f3;
        border-left: 4px solid transparent;
    }

    .sub-menu__link {
        font-size: 20px;
        line-height: 30px;
    }


    .gallery {
        padding: 5.7rem 3.8125rem 6.3rem;
    }

    .gallery__title {
        margin-bottom: 2.5rem;
        font-size: 32px;
    }

    .gallery__image--large {
        display: block;
    }

    .gallery__image--small,
    .gallery__image--medium,
    .gallery__image--large {
        width: 31.93%;
    }

    .useful-links {
        padding: 2.4rem 11.5rem 1rem 8.5rem;
        margin-bottom: 1.7rem;
    }
}