.gallery {
    padding: 5.7rem 3.8125rem 6.3rem;

    &__title {
        margin-bottom: 2.5rem;
        font-size: 32px;
    }
    &__image--large {
        display: block;
    }
    &__image--small,    
    &__image--medium,
    &__image--large {
        width: 31.93%;
    }
}