.social-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;

    &__item {
        list-style: $l-s;
        margin-right: 0.5rem;
    }
    &__link {
        display: block;
        @include dimensions (26px, 26px);

        &--circle {
            fill: $c2;
        }
        &--letter {
            fill: #e4b265;
        }
        &:hover .social-menu__link--circle{
            fill: #C97064;
            transition: $tr;
        }

        &:hover .social-menu__link--letter {
            color: $c2;
            transition: $tr;
        }
    }
}