body {
    background-color: $bg;
  }
  
  .menu {
    @extend %list;
    &__item {
      @extend %item;
      &--first{
        background: url("https://cdn.worldvectorlogo.com/logos/html5.svg") no-repeat;
        background-size: contain;
      }
      &--second {
        background: url("https://cdn.worldvectorlogo.com/logos/css-3.svg") no-repeat;
        background-size: contain;
      }
      &--third {
        background: url("https://cdn.worldvectorlogo.com/logos/pug.svg") no-repeat;
        background-size: contain;
      }
      &--fourth {
        background: url("https://cdn.worldvectorlogo.com/logos/sass-1.svg") no-repeat;
        background-size: contain;
      }
    }
  }