//variables
//border-radius
$b-d: 50%;

//colors
$c1: #263555;
$c2: #ffffff;
$c3: #38afe5;

//fonts
$f1: "Dorsa", sans-serif;
$f2: "Pathway Gothic One", sans-serif;
$f3: "Open Sans Condensed", sans-serif;
$f4: "Arial", sans-serif;

//list-style
$l-s: none;

//parameters of logo
    //diameter
    $d-l-480: 77px;
    $d-l-768: 101px;
    $d-l-1024: 140px;

    //font-size
    $fs-l-480: 33px;
    $fs-l-768: 44px;
    $fs-l-1024: 60px;

    //margin-left
    $ml-480: (-1 * ($d-l-480/ 2));
    $ml-768: (-1 * ($d-l-768/ 2));
    $ml-1024: (-1 * ($d-l-1024/ 2));

//transition
$tr: 0.5s;

//mixins
@mixin text ($f-s, $l-h) {
    font-size: $f-s;
    line-height: $l-h;
}

@mixin dimensions ($w, $h) {
    width: $w;
    height: $h;
}

@mixin logo-param ($wl, $hl, $ml, $fsl, $lnl) {
    width: $wl;
    height: $hl;
    margin-left: $ml;
    font-size: $fsl;
    line-height: $lnl;
}

//styles for width: 480px
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 1024px;
    padding-top: 125px;
    padding-bottom: 30px;
    margin: auto;
}

.nav {
    position: relative;
    margin-bottom: 3.5rem;

    &__logo {
        position: absolute;
        top: -102px;
        left: 50%;
        @include logo-param ($d-l-480, $d-l-480, $ml-480, $fs-l-480, $d-l-480);
        font-family: $f1;
        color: $c1;
        text-align: center;
        text-transform: uppercase;    
        background-color: $c2;
        border-radius: $b-d;
    }

    &-menu {
        display: flex;
        justify-content: center;
        padding-right: 6.25rem;
        padding-left: 7.5rem;

        &__item {
            list-style: $l-s;

            &--center {
                position: relative;
                margin-right: 15%;
                margin-left: 15%;
            }
        }

        &__link {
            font-family: $f2;
            @include text (20px, 30px);
            color: $c2;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: $c1;
                transition: $tr;
            }
        }
    }
}

.sub-menu {
    position: absolute;
    top: 30px;
    left: -5px;
    z-index: 1;
    display: none;
    padding: 0.5rem;
    background-color: #f2f2f3;
    border-radius: 3px;

    &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: 21px;
        display: inline-block;
        @include dimensions (0, 0);
        border-right: 3px solid transparent;
        border-bottom: 4px solid #f2f2f3;
        border-left: 2px solid transparent;
    }

    &__item {
        list-style: $l-s;
        text-align: center;
    }

    &__link {
        font-family: $f2;
        @include text (14px, 22px);
        color: #6b7488;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: $c3;
            transition: $tr;
        }
    }
}

.sub:hover>.sub-menu {
    display: block;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 3.3rem 2.3128rem 2.5rem;
    background-color: $c2;

    &__title {
        width: 100%;
        margin-bottom: 2rem;
        font-family: $f2;
        font-size: 28px;
        font-weight: normal;
        color: $c1;
        text-transform: uppercase;
    }
    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 2.2rem;

        &--medium,
        &--large {
            display: none;
        }
    }
    &__link {
        display: block;

        &:hover .gallery__pic {
            filter: brightness(0.5);
            transition: $tr;
        }

        &:hover>.gallery__zoom {
            opacity: 1;
            transition: $tr;
        }
    }
    &__zoom {
        position: absolute;
        @include dimensions (20%, 30%);
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        background: url("../img/zoom-in.svg") no-repeat;
    }
    &__photo {
        @include dimensions (100%, auto);
    }
}

.useful-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 6.7rem;
    margin-bottom: 1.9rem;
    background-color: #30455b;

    &-menu {
        margin-bottom: 0.625rem;

        &--last {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;        
            flex-basis: 100%;
        }
        &__item {
            margin-bottom: 0.45rem;
            font-family: $f3; 
            color: $c2;
            text-transform: uppercase;
            list-style: $l-s;

            &--first {
                font-size: 14px;
            }

            &--second {
                position: relative;
                margin-bottom: 0;
                margin-left: 1rem;
                font-family: $f4;
                @include text (10px, 19px);
            }

            &--third {
                @extend .useful-links-menu__item--second;
                text-transform: none;
            }
        }
        &__link {
            font-family: $f3;
            @include text (14px, 19px);
            color: $c2;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: $c3;
                transition: $tr;
            }
        }
        &__hidden {
            display: none;
        }
    }
}

.material-icons {
    position: absolute;
    left: -27px;
    top: -3px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;

    &__item {
        list-style: $l-s;
        margin-right: 0.5rem;
    }
    &__link {
        display: block;
        @include dimensions (26px, 26px);

        &--circle {
            fill: $c2;
        }
        &--letter {
            fill: #e4b265;
        }
        &:hover .social-menu__link--circle{
            fill: #C97064;
            transition: $tr;
        }

        &:hover .social-menu__link--letter {
            fill: $c2;
            transition: $tr;
        }
    }
}

.copyright-menu {
    display: flex;
    list-style: $l-s;

    &__item {
        padding-right: 2px;
        padding-left: 2px;
        list-style: $l-s;
        font-family: $f4;
        @include text (9px, 18px);
        color: $c2;
        border-left: 1px solid $c2;

        &--first {
            border-left: none;
        }
    }
    &__link {
        font-family: $f4;
        @include text (9px, 18px);
        color: $c2;
        text-decoration: none;

        &:hover {
            color: $c1;
            transition: $tr;
        }
    }
}

.to-top {
    position: fixed;
    right: 6px;
    bottom: 8px;
    display: block;
    @include dimensions (30px, 30px);
    background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcuNDEgMTUuNDFMMTIgMTAuODNsNC41OSA0LjU4TDE4IDE0bC02LTYtNiA2eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+") no-repeat;
    background-color: $c3;
    background-position: 3px 2px;
    border-radius: $b-d; 
    transform: scale(0.8);

    &:hover {
        opacity: 0.55;
        transition: $tr;
    }
}

//styles for width: 768px
@media screen and (min-width: 768px) {
    .wrapper {
        padding-top: 8.5rem;
        margin-bottom: 15px;
    }
    
    .nav {
        margin-bottom: 1.4rem;
    
        &__logo {
            top: -115px;
            @include logo-param ($d-l-768, $d-l-768, $ml-768, $fs-l-768, $d-l-768);
        }
        &-menu__link {
            @include text (24px, 36px);
        }
    }
    
    .sub-menu {
        top: 35px;
        left: -8px;
    
        &::before {
            top: -4px;
            left: 28px;
        }
        &__link {
            @include text (17px, 26px);
        }
    }
    
    .gallery {
        padding: 5rem 2.875rem 3rem;
    
        &__title {
            margin-bottom: 2.4rem;
        }
        &__image--medium {
            display: block;
        }
        &__image--small,
        &__image--medium {
            width: 48.96%;
        }
    }
    
    .useful-links {
        padding: 2.1rem 5rem 1.3rem 3rem;
        margin-bottom: 1.3rem;
    
        &-menu--last {
            flex-basis: auto;
            display: block;
        }
        &-menu__link {
            @include text (16px, 22px);
        }
        &-menu__item--first {
            @include text (18px, 24px);
        }
        &-menu__item--second {
            margin-left: 0;
            font-size: 12px;
        }
        &-menu__hidden {
            display: inline;
        }
    }
    
    .material-icons {
        display: none;
    }
    
    .social-menu {
        margin-bottom: 1.3rem;
    
        &__item {
            margin-right: 0.625rem;
        }
        &__link {
            @include dimensions (40px, 40px);
        }
    }
    
    .copyright-menu {
        &__item, &__link {
            font-size: 12px;
        }
        &__item {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    
    .to-top {
        right: 8px;
        bottom: 12px;
        transform: scale(0.93); 
    }
}

//styles for width: 1024px
@media screen and (min-width: 1024px) {
    .wrapper {
        padding-top: 95px;
    }
    
    .nav {
        display: flex;
        justify-content: space-around;
        margin-bottom: 6.2rem;
    
        &__logo {
            top: -50px;
            @include logo-param ($d-l-1024, $d-l-1024, $ml-1024, $fs-l-1024, $d-l-1024);
        }
        &-menu {
            width: 45%;
    
            &__link {
                @include text (28px, 40px);
            }
        }
    }
    
    .sub-menu {
        top: 40px;
        left: -8px;
    
        &::before {
            top: -6px;
            left: 30px;
            border-right: 4px solid transparent;
            border-bottom: 6px solid #f2f2f3;
            border-left: 4px solid transparent;
        }
        &__link {
            @include text (20px, 30px);
        }
    }
    
    .gallery {
        padding: 5.7rem 3.8125rem 6.3rem;
    
        &__title {
            margin-bottom: 2.5rem;
            font-size: 32px;
        }
        &__image--large {
            display: block;
        }
        &__image--small,    
        &__image--medium,
        &__image--large {
            width: 31.93%;
        }
    }
    
    .useful-links {
        padding: 2.4rem 11.5rem 1rem 8.5rem;
        margin-bottom: 1.7rem;
    }
    
    .to-top {
        right: 15px;
        bottom: 16px;
        transform: scale(1); 
    }
}
