:root {
    --bord-rad: 50%;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --list-style: none;
    --transition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
}

.useful-links {
    display: flex;
    justify-content: space-between;
    padding: 40px 140px 30px 140px;
    margin-bottom: 26px;
    background-color: #30455b;
}

.useful-links li {
    margin-bottom: 15px;
    list-style: var(--list-style)
}

.useful-links li, 
.useful-links a {
    font-family: var(--font-3); 
    color: var(--color-2);
    text-transform: uppercase;
}

.useful-links a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.useful-links a:hover {
    color: var(--color-3);
}

.useful-links ul:last-of-type li:first-of-type {
    font-size: 18px;
}

.useful-links ul:last-of-type li:nth-of-type(n+2) {
    margin-bottom: 0;
    font-family: var(--font-4);
    font-size: 12px;
    line-height: 19px;
}

.useful-links ul:last-of-type li:last-of-type {
    text-transform: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 199px;
    margin-bottom: 25px;
    list-style: var(--list-style)
}

.social a {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../img/sprite.png") no-repeat;
}

.social a:hover {
    filter: invert(100%);
    transition: var(--transition);
}

.social .facebook {
    background-position: -41px 0;
  }
  
.social .google {
    background-position: -82px 0;
  }
  
.social .linkedin {
    background-position: -123px 0;
  }

.copyright {
      display: flex;
      list-style: var(--list-style)
  }

.copyright li, .copyright a {
    font-family: var(--font-4);
    font-size: 12px;
    line-height: 15px;
    color: var(--color-2);
}

.copyright a {
    text-decoration: none;
}

.copyright a:hover {
    color: var(--color-1);
}

.copyright li {
    padding-right: 5px;
    padding-left: 5px;
    border-left: 2px solid var(--color-2);
}

.copyright li:first-of-type {
    border-left: none;
}