:root {
    --bord-rad: 50%;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --tansition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
}

.to-top {
    position: fixed;
    right: 60px;
    bottom: 60px;
    display: block;
    width: 30px;
    height: 30px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASElEQVQ4y2NgGAWDGPxv+N9AmnIQaCBF+R8gJE4LWPnv/2H/w4nSAlMOZhPWAlUeCucT0gLU8Pt/CIoISEsdPju0CIuMgsEAAKEwSaIZoavCAAAAAElFTkSuQmCC") no-repeat;
    background-color: var(--color-3);
    background-position: 3px 3px;
    border-radius: var(--bord-rad);   
}

.to-top:hover {
    opacity: 0.55;
    transition: var(--tansition);
}