:root {
    --bord-rad: 50%;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --list-style: none;
    --transition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 44px;
    padding-bottom: 30px;
    font-family: var(--font-4);
    color: #4e5050;
    background: url("../../img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}

article {
    display: flex;
    flex-wrap: wrap;
    max-width: 902px;
    padding: 58px 61px 78px 61px;
    background-color: var(--color-2);
}

.main1,
.main2 {
    max-width: 641px;
}

.aside1,
.aside2 {
    max-width: 210px;
    padding-left: 51px;
}

.main1,
.aside1 {
    margin-bottom: 55px;
    border-bottom: 1px solid #dedbdb;
}

.main1, .main2,
.aside1, .aside2 {
    font-size: 13px;
    line-height: 19px;
}

h2 {
    font-family: var(--font-2);
    font-size: 32px;
    line-height: 36.8px;
    font-weight: normal;
    text-transform: uppercase;
}

h2, .shortcut, a, .text {
    color: var(--color-1);
}

.shortcut, a {
    font-size: 15px;
    line-height: 19px;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--color-3);
}

.main1 h2,
.aside1 h2 {
    margin-bottom: 48px;
}

img {
    float: left;
    margin-right: 23px;
}

.main1 .shortcut {
    margin-bottom: 8px;
}

.main1 .information {
    margin-bottom: 8px;
}

ol {
    counter-reset: list 0;
    margin-bottom: 42px;
}

ol li {
    list-style: var(--list-style)
}

ol div {
    display: inline-block;
    max-width: 169px;
}

ol li::before {
    counter-increment: list;
    content: counter(list) "";
    display: inline-block;
    width: 24px;
    height: 26px;
    margin-top: 10px;
    margin-right: 9px;
    line-height: 26px;
    color: var(--color-2);
    text-align: center;
    vertical-align: top;
    background-color: var(--color-3);
    border: 1px solid #4994b5;
    border-radius: 13px;
}

ol .shortcut {
    margin-bottom: 10px;
}

ol li {
    margin-bottom: 26px;
}

ol li:last-of-type {
    margin-bottom: 0;
}

.main2 h2 {
    margin-bottom: 63px;
}

.main2 .shortcut {
    margin-bottom: 23px;
}

.main2 .information {
    margin-bottom: 30px;
}

.main2 ul {
    display: inline-block;
    vertical-align: top;
    list-style: var(--list-style)
}

.main2 ul li {
    margin-bottom: 20px;
}

.main2 ul li:last-of-type {
    margin-bottom: 0;
}

.main2 ul a {
    line-height: 22.8px;
}

.main2 ul li::before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAABlBMVEU4r+X///9eJqNQAAAAIElEQVR4AWNgRAJYOQwoMgwoyhhAiAEOkGVw6GHAsAcAG2EAaeJ5cVwAAAAASUVORK5CYII=");
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-right: 7px;
    line-height: 10px;
}

.main2 ul:first-of-type {
    padding-left: 24px;
    margin-right: 67px;
}

.aside2 {
    position: relative;
}

.aside2 h2 {
    margin-bottom: 23px;
}

.aside2 .shortcut {
    padding: 22px 20px 45px 22px;
    margin-bottom: 36px; 
    text-indent: 10px;
    background: url("../img/quote.png") no-repeat;
    background-size: contain;
}

.aside2 .shortcut::before {
    content: "\201c";
}
.aside2 .shortcut::after {
    content: "\201d";
}
.aside2 .text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22.8px;
    color: var(--color-1);
    text-align: center;
}

.aside2 .information {
    text-align: center;
}