:root {
    --bord-rad: 50%;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --list-style: none;
    --transition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 44px;
    padding-bottom: 30px;
    color: #4e5050;
    background: url("../../assets/img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}

article {
    display: flex;
    flex-wrap: wrap;
    max-width: 902px;
    padding: 58px 61px 40px 61px;
    background-color: var(--color-2);
}

.top {
    position: relative;
    width: 902px;
    height: 579px;
    margin-bottom: 57px;
}

.top h2, .price {
    position: absolute;
    font-family: var(--font-2);
    text-transform: uppercase;
}

.top h2 {
    top: 218px;
    width: 223px;
    height: 59px;
    font-size: 22px;
    font-weight: normal;
    line-height: 59px;
    color: var(--color-1);
    text-align: center;    
    background-color: var(--color-2);
    border: 1px solid #d5d3d1;
}

.price {
    top: 278px;
    display: block;
    width: 274px;
    height: 58px;
    font-size: 34px;
    line-height: 58px;
    color: var(--color-2);
    text-align: center;
    text-decoration: none;
    background-color: var(--color-3);
    border: 1px solid #3aa6d4;
}

.price:hover {
    color: var(--color-1);
    transition: var(--tansition);
}

.top-dest {
    display: block;
    width: 180px;
    font-family: var(--font-2);
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-1);
    margin-bottom: 40px;
}

.middle {
    margin-bottom: 50px;
}

.top-dest:hover {
    color: var(--color-3);
    transition: var(--tansition);
}

.destinations {
    display: flex;
    justify-content: space-between;
    width: 902px;
}

.destination {
    position: relative;
    width: 288px;
    height: 270px;
    overflow: hidden;
}

.about {
    position: absolute;
    top: 0;
    left: -147px;
    display: block;
    opacity: 0;
    width: 129px;
    height: 231px;
    padding: 21px 9px 18px 9px;
    text-align: justify;
    background-color: #193149;
    transition: var(--transition);
}

.destination:hover > .about {
    left: 0;
    opacity: 1;
}

h3 {
    width: 129px;
    margin-bottom: 10px;
    font-family: var(--font-3);
    font-size: 30px;
    font-weight: normal;
    color: var(--color-2);
    text-align: center;
    text-transform: uppercase
}

.information {
    font-family: var(--font-4);
    font-size: 9px;
    line-height: 15px;
    color: #cbc6c6;
}

.destination .btn {
    position: absolute;
    right: 10px;
    bottom: 18px;
    display: inline-block;
    width: 65px;
    height: 24px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #8b8c92;
    border-radius: 5px;
}

.destination .btn:hover {
    color: #ffffff;
    background-color: #38afe5;
    transition: var(--transition);
}

.tabs {
    width: 595px;
    font-size: 0;
}

.tabs > section {
    display: none;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 11px;
    border: 1px solid #e6e4e4;
}

.tabs > input {
    display: none;
}

label {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: -1px;
    font-family: var(--font-2);
    font-size: 19px;
    line-height: 33px;
    color: #6b7488;
    height: 33px;
    width: 128px;
    text-align: center; 
    text-transform: uppercase;
    border: 1px solid #e6e4e4;
    background-color: #fcfafa;
}

label:hover {
    color: var(--color-1);
    transition: var(--transition);
}

.tabs > input:checked+label {
    color: var(--color-3);
    border-bottom: 1px solid #fff;
    background: #fff;
}

#tab1:checked ~ .content-tab1,
#tab2:checked ~ .content-tab2,
#tab3:checked ~ .content-tab3 {
    display: block;
}

.post-1,
.post-2 {
    position: relative;
    padding-bottom: 55px;
}

.post-1 img,
.post-2 img {
    float: left;
    margin-right: 19px;
    margin-bottom: 10px;
}

.shortcut {
    font-family: var(--font-4);
    font-size: 15px;
    color: var(--color-1);
    margin-bottom: 15px;
}

.post {
    font-family: var(--font-4);
    font-size: 10px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.click {
    color: #fa7e7e;
    text-decoration: none;
}

.click:hover {
    color: var(--color-1);
    text-decoration: underline;
    transition: var(--transition);
}

.tabs .btn {
    position: absolute;
    right: 20px;
    display: block;
    width: 65px;
    height: 24px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #8b8c92;
    border-radius: 5px;
}

.tabs .btn:hover {
    color: #ffffff;
    background-color: #38afe5;
    transition: var(--transition);
}