:root {
    --bord-rad: 50%;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --list-style: none;
    --transition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 44px;
    padding-bottom: 30px;
    color: #4e5050;
    background: url("../../assets/img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}

article {
    display: flex;
    flex-wrap: wrap;
    max-width: 902px;
    padding: 58px 61px 40px 61px;
    background-color: var(--color-2);
}

.top {
    position: relative;
    width: 902px;
    height: 579px;
    margin-bottom: 57px;
}

.top h2, .price {
    position: absolute;
    font-family: var(--font-2);
    text-transform: uppercase;
}

.top h2 {
    top: 218px;
    width: 223px;
    height: 59px;
    font-size: 22px;
    font-weight: normal;
    line-height: 59px;
    color: var(--color-1);
    text-align: center;    
    background-color: var(--color-2);
    border: 1px solid #d5d3d1;
}

.price {
    top: 278px;
    display: block;
    width: 274px;
    height: 58px;
    font-size: 34px;
    line-height: 58px;
    color: var(--color-2);
    text-align: center;
    text-decoration: none;
    background-color: var(--color-3);
    border: 1px solid #3aa6d4;
}

.price:hover {
    color: var(--color-1);
    transition: var(--tansition);
}
