:root {
    --bord-rad: 50%;
    --color-1: #263555;
    --color-2: #ffffff;
    --color-3: #38afe5;
    --font-1: "Dorsa", sans-serif;
    --font-2: "Pathway Gothic One", sans-serif;
    --font-3: "Open Sans Condensed", sans-serif;
    --font-4: "Arial", sans-serif;
    --list-style: none;
    --transition: 0.5s;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 44px;
    padding-bottom: 30px;
    font-family: var(--font-4);
    font-size: 10px;
    color: #4e5050;
    background: url("../../img/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}

article {
    display: flex;
    flex-wrap: wrap;
    max-width: 902px;
    padding: 58px 61px 40px 61px;
    background-color: var(--color-2);
}

.main {
    display: flex;
    flex-direction: column;
}

.post {
    max-width: 672px;
    margin-right: 21px;
}

.post:first-of-type {
    border-bottom: 1px solid #dedbdb; 
}

.aside {
    padding-left: 8px;
    max-width: 210px;
}

.post img {
    float: left;
    margin-right: 19px;
    margin-bottom: 30px;
}

h2 {
    font-family: var(--font-2);
    font-size: 32px;
    font-weight: normal;
    color: var(--color-1);
    text-transform: uppercase;
}

.post h2 {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    margin-top: 46px;
    font-family: var(--font-4);
    font-size: 13px;
    font-weight: bold;
    line-height: 15.2px;
}

.post-1::before,
.post-2::before,
.post-1::after,
.post-2::after {
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 15.5px;
    font-family: var(--font-4);
    font-size: 9px;
    color: var(--color-2);
    text-align: center;
    vertical-align: middle;
    background-color: #38afe5;
}

.post-1::before,
.post-2::before {
    top: 0;
    left: 0;
    line-height: 20px;
    border-radius: 15.5px 15.5px 0 0;
}

.post-1::after,
.post-2::after {
    top: 15.5px;
    left: 0;
    line-height: 10px;
    text-transform: uppercase;
    border-radius: 0 0 15.5px 15.5px;
}

.post-1::before {
    content: "23";
}

.post-1::after {
    content: "apr";
}

.post-2::before {
    content: "28";
}

.post-2::after {
    content: "apr";
}

.post-information {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 15.2px;
    color: #868f8f;
}

.post-autor {
    flex-grow: 1;
    margin-left: 35px;
}

.shortcut {
    margin-right: 61px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 15.2px;
    color: var(--color-1);
}

.information {
    margin-bottom: 15px;
    line-height: 15.2px;
}

.btn {
    display: inline-block;
    width: 65px;
    height: 24px;
    margin-bottom: 50px;
    font-family: var(--font-4);
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-2);
    border: 1px solid rgba(159, 150, 150, 0.81);
    border-radius: 5px;
}

.btn:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    transition: var(--transition);
}

.aside h2 {
    margin-bottom: 46px;
}

.aside ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 1;
    margin-bottom: 50px;
}

.aside li {
    display: inline-block;
    width: var(--width-it);
    margin-bottom: 14px;
    list-style: var(--list-style);
}

.list-1 li:last-of-type, .list-2 li:last-of-type {
    margin-bottom: 0;
}

.aside li:before {
    display: inline-block;
    margin-right: 10px;
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAABlBMVEU4r+X///9eJqNQAAAAIElEQVR4AWNgRAJYOQwoMgwoyhhAiAEOkGVw6GHAsAcAG2EAaeJ5cVwAAAAASUVORK5CYII=");
}

.aside a {
    font-family: var(--font-4);
    font-size: 13px;
    line-height: 18.24px;
    color: var(--color-1);
    text-decoration: none;
}
  
.aside a:hover {
    color: #38afe5;
    transition: var(--transition);
}