<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Homework-09</title>
</head>
<body>
    <div id="keyboard-container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="tpl/lodash" id="keyboard-tpl">
        <h1>You pressed: <span class="pressed"></span></h1>
        <% Object.keys(rows).forEach(key => { %>
            <div class="keyboard__row">
                <% rows[key].forEach(btn => { %>    
                <button class="keyboard__btn"><%- btn %></button>
                <% }); %>
            </div>
            <% }); %>
            <div class="keyboard__row">
                <button class="keyboard__btn keyboard__btn--space">space</button>
            </div>
    </script>
    <script src="js/script.js"></script>
    
</body>
</html>