body {
	padding-top: 10rem;
	background-color: gainsboro;
}

h1 {
	width: 23rem;
	margin: auto;
	margin-bottom: 2rem;
	font-size: 3rem;
	font-weight: normal;
}

.keyboard__row {
	display: flex;
	justify-content: center;
    list-style: none;
}

.keyboard__row:first-of-type {
    margin-top: 0;
}

.keyboard__row:last-of-type {
	margin-bottom: 0;
}

.keyboard__btn {
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin-right: 12px;
	background-color: black;
	border: 5px solid dimgray;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 45px;
	text-align: center;
    color: white;
    box-shadow: 8px 8px 10px dimgray;
}

.keyboard__btn:last-child {
	margin-right: 0;
}

.keyboard__btn--space {
	width: 27rem;
}

.keyboard__btn--active {
	background-color: #03a9f4;
    transform: scale(0.9);
    box-shadow: none;
}