.nav {
    margin-bottom: 1.4rem;

    &__logo {
        top: -115px;
        @include logo-param ($d-l-768, $d-l-768, $ml-768, $fs-l-768, $d-l-768);
    }
    &-menu__link {
        @include text (24px, 36px);
    }
}

.sub-menu {
    top: 35px;
    left: -8px;

    &::before {
        top: -4px;
        left: 28px;
    }
    &__link {
        @include text (17px, 26px);
    }
}